version: "3.9"

services:
  backend:
    container_name: greencart-backend-dev
    image: greencart-backend-dev
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    ports:
      - "4000:4000"
    env_file:
      - ./server/.env
    volumes:
      - ./server:/app
      - /app/node_modules
    restart: unless-stopped

  frontend:
    container_name: greencart-frontend-dev
    image: greencart-frontend-dev
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - backend
    environment:
    - BACKEND_HOST=backend
    restart: unless-stopped
